ClienteVB/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Suma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumando1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sumando2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Resta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="minuendo" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sustraendo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiplicando" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="multiplicador" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Dividendo" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Divisor" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DividirResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Base" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Exponente" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PotenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Radicacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Radicando" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RadicacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RadicacionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Porcentaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nro1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PorcentajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PorcentajeResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="factResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="factResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Seno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Coseno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CosenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CosenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SumaSoapIn">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="SumaSoapOut">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="RestaSoapIn">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="RestaSoapOut">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="DividirSoapIn">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="DividirSoapOut">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:message name="RadicacionSoapIn">
    <wsdl:part name="parameters" element="tns:Radicacion" />
  </wsdl:message>
  <wsdl:message name="RadicacionSoapOut">
    <wsdl:part name="parameters" element="tns:RadicacionResponse" />
  </wsdl:message>
  <wsdl:message name="PorcentajeSoapIn">
    <wsdl:part name="parameters" element="tns:Porcentaje" />
  </wsdl:message>
  <wsdl:message name="PorcentajeSoapOut">
    <wsdl:part name="parameters" element="tns:PorcentajeResponse" />
  </wsdl:message>
  <wsdl:message name="factSoapIn">
    <wsdl:part name="parameters" element="tns:fact" />
  </wsdl:message>
  <wsdl:message name="factSoapOut">
    <wsdl:part name="parameters" element="tns:factResponse" />
  </wsdl:message>
  <wsdl:message name="SenoSoapIn">
    <wsdl:part name="parameters" element="tns:Seno" />
  </wsdl:message>
  <wsdl:message name="SenoSoapOut">
    <wsdl:part name="parameters" element="tns:SenoResponse" />
  </wsdl:message>
  <wsdl:message name="CosenoSoapIn">
    <wsdl:part name="parameters" element="tns:Coseno" />
  </wsdl:message>
  <wsdl:message name="CosenoSoapOut">
    <wsdl:part name="parameters" element="tns:CosenoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Suma">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sumar dos numeros</wsdl:documentation>
      <wsdl:input message="tns:SumaSoapIn" />
      <wsdl:output message="tns:SumaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restar dos numeros</wsdl:documentation>
      <wsdl:input message="tns:RestaSoapIn" />
      <wsdl:output message="tns:RestaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Multiplicar dos numeros</wsdl:documentation>
      <wsdl:input message="tns:MultiplicarSoapIn" />
      <wsdl:output message="tns:MultiplicarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dividir dos numeros</wsdl:documentation>
      <wsdl:input message="tns:DividirSoapIn" />
      <wsdl:output message="tns:DividirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Potencia</wsdl:documentation>
      <wsdl:input message="tns:PotenciaSoapIn" />
      <wsdl:output message="tns:PotenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Radicacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Radicacion</wsdl:documentation>
      <wsdl:input message="tns:RadicacionSoapIn" />
      <wsdl:output message="tns:RadicacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Porcentaje">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Porcentaje</wsdl:documentation>
      <wsdl:input message="tns:PorcentajeSoapIn" />
      <wsdl:output message="tns:PorcentajeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Factorial</wsdl:documentation>
      <wsdl:input message="tns:factSoapIn" />
      <wsdl:output message="tns:factSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Seno</wsdl:documentation>
      <wsdl:input message="tns:SenoSoapIn" />
      <wsdl:output message="tns:SenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Coseno</wsdl:documentation>
      <wsdl:input message="tns:CosenoSoapIn" />
      <wsdl:output message="tns:CosenoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Radicacion">
      <soap:operation soapAction="http://tempuri.org/Radicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Porcentaje">
      <soap:operation soapAction="http://tempuri.org/Porcentaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fact">
      <soap:operation soapAction="http://tempuri.org/fact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <soap:operation soapAction="http://tempuri.org/Coseno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap12:operation soapAction="http://tempuri.org/Suma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap12:operation soapAction="http://tempuri.org/Resta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap12:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap12:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap12:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Radicacion">
      <soap12:operation soapAction="http://tempuri.org/Radicacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Porcentaje">
      <soap12:operation soapAction="http://tempuri.org/Porcentaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fact">
      <soap12:operation soapAction="http://tempuri.org/fact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap12:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Coseno">
      <soap12:operation soapAction="http://tempuri.org/Coseno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://www.losapostolesdecristo.somee.com/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://www.losapostolesdecristo.somee.com/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>